@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import 'tailwindcss';
@plugin "daisyui";

@plugin "daisyui/theme" {
  /* name: 'light'; */
  default: true;
  --color-primary: '#ff6900';
  --color-secondary: #d97706;
}

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

* {
  font-family: 'Rubik', sans-serif;
}


